body{
    font-family: Arial;
    background-color: #845EC2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
}

.game {
    background-color: #845EC2;
    border: 2px solid #845EC2;
    padding: 20px;
    width: 80%;
}

li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    background-color: #00C9A7;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 0px;
    box-shadow: 5px 5px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0px;
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    color: black;
}

button {
    display: inline;
    text-align: center;
    width: 100px;
    background-color: #00C9A7;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px;
}

#hint {
    margin: 30px;
    font-weight: bold;
    background-color: #FBEAFF;
}

#win {
    height: 100px;
    margin: 20px;
}

#trophy {
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #00C9A7;
    font-size: xxx-large;
}

p {
    text-align: center;
}

